body {
  padding-top: 50px;
}

.btn-default {
  float:left;
}

.starter-template {
  padding: 40px 15px;
}

#new_project {
  margin-top: 10px;
}

#edit_project {
  margin-bottom: 10px;
}

*:focus {
  outline-color: transparent;
}
